/* ======== FONTS ======== */

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit/Outfit-SemiBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Noto';
  src: url('../fonts/Noto/NotoSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ======== DIVS ======== */

* {
  font-family: 'Outfit';
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --hue-neutral: 0;
  --hue-wrong: 0;
  --hue-correct: 207;
}

.btn-grid {
  display: grid;
  gap: 10px;
  margin: 20px 0px;
}

.btn {
  font-family: 'Noto', sans-serif;
  text-align: left;
  padding: 15px 20px;
  padding-left: 20px;
  font-size: 25px;
  border: 0px;
  border-radius: 10px;
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 0%, 91%);
}

.btn:hover {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 0%, 77%);
}
.btn.correct {
  --hue: var(--hue-correct);
  background-color: hsl(var(--hue), 76%, 86%);
}

.btn.wrong {
  --hue: var(--hue-wrong);
  background-color: hsl(var(--hue), 100%, 86%);
}

#next-btn, #start-btn {
  background-color: hsl(207, 90%, 61%);
  text-align: center;
  font-family: 'Outfit';
}

#next-btn:hover, #start-btn:hover {
  background-color: hsl(207, 90%, 50%);
}

.hide {
  display: none;
}


#question {
  margin: 30px 0px;
}

body {
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

article {
  font-family: 'Outfit';
  font-size: 25px;
  margin: 100px 20%;
}

table, td, th {
  margin: 10px auto 10px auto;
  border: 1px solid black;
  border-collapse: collapse;

}

td {
  padding: 5px 10px 5px 10px;
}

.header {

  height: 295px;
  line-height: 295px;

  text-align: center;

  font-size: 60px;
  font-weight: bold;

  background-color: #F8FDFF;
  background-image: url('../images/header.svg');
  background-position: center 0;
  background-repeat: no-repeat;


}

h1 {
  text-align: center;
}

article#main {
  margin: 0% 15%;
  padding: 0;

}
