@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit';
    src: url('../fonts/Outfit/Outfit-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto';
    src: url('../fonts/Noto/NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas.ttf') format('truetype');
}

@font-face {
    font-family: 'Latin Modern Math';
    src: url('../fonts/latinmodern-math.otf') format('opentype');
}
* {
    box-sizing: border-box;
    font-family: 'Outfit';
}

body {
    margin: 0;
    background-color: #FFFCF3;
}

header {
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: 10px 0 20px 0;
}

.menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px 0;
    margin-bottom: 40px;
    font-size: 20px;
}

.menu a {
    color: black;
    text-decoration: none;
}

.menu a:hover {
    color: #12680A;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
}

.text {
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.scroll {
    margin: 50px 0px;
    height: 200px;
    overflow: hidden;
    -webkit-mask: linear-gradient(180deg, transparent, rgba(0,0,0,1) 20%, rgba(0,0,0,1) 80%, transparent 95%);
}

.BottomToTop {
    animation: BottomToTop 10s infinite linear;
}

@keyframes BottomToTop {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(-100%);
    }
}
.sentence {
    font-size: 30px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 10px;
    width: 100%;
    padding-top: 20px;
}

.theme {
    text-align: right;
    color: #12680A;
}

.emph {
    color: #12680A;
}

.ipa {
    font-family: "Noto";
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    header {
        font-size: 30px;
    }

    .menu {
        grid-template-columns: 1fr;
        row-gap: 10px;
    }

    .menu a {
        width: 100%;
        text-align: center;
    }

    main {
        padding: 10px;
    }
    
    .text {
        font-size: 25px;
    }
    .scroll {
        margin: 30px 0 5px 0;
    }
    .sentence {
        grid-template-columns: 1fr 2fr;
        font-size: 20px;
        column-gap: 5px;
    }
}

.date {
    color:#12680A;
}

.page-desc {
    display: grid;
    grid-template-columns: min-content auto;
    column-gap: 10px;
}

.page-desc .text {
    margin-bottom: 15px;
}

.text-link {
    color: #12680A;
}

.header-link {
    color: black;
    text-decoration: none;
}

footer {
    height: 100px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 100%;
    color: black;
    font-size: 12px;
    z-index: 1;
    text-align: center;
}

.hover-text {
    text-decoration-line: underline;
}

.hover-text:hover .tooltip-text{
    visibility: visible;
}

.tooltip-wrapper {
    position: relative;
}
.tooltip-top {
    top: -4px;
    left: 0px;
}

article {
    text-align: left;
}

PRE {
    padding-top: 1em;
    background-color:#313338;
    color: white;
    font-family: "Consolas";
}

code {
    font-family: "Consolas";
}

math {
    font-family: "Latin Modern Math";
    margin: 2em;
}

math * {
    font-family: "Latin Modern Math";
}