@font-face {
  font-family: "NanumMyeongjo";
  src: url("./src/fonts/NanumMyeongjo.woff") format("woff");
}

.active {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  position: sticky; /* position and top creates persistent navbar */
  top: 0;
  height: 5.5rem;
  padding: 0 2.5rem;
  font-size: 1.2rem;
}

nav .title {
  font-weight: bold;
  text-decoration: none;
  color: #03671f;
}

nav #korean-name {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: black;
  font-family: "NanumMyeongjo";
  font-weight: normal;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  text-decoration-color: #03671f;
  color: black;
  padding: 0 0 0 4rem;
}

nav ul li a:not(.active):hover {
  /* not(.active) not necessary but good for futureproofing */
  text-decoration: underline;
  text-decoration-color: #03671f;
}
