* {
    box-sizing: border-box;
}

.main {
    margin: 50px 0;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: baseline;
    justify-content: center;

}

#peach {

    animation-name: move-left;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#phallus {
    all:unset;
    font-family:'Courier New', Courier, monospace;
    font-size: 100px;
    width: 1.3ch;
    overflow: hidden;
    animation-name: move;
    animation-duration: 1500ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

#status {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.ease-out {
    animation-timing-function: ease-in-out;
}

@keyframes move {
    to {
        translate: 50px;
    }
}

@keyframes move-left {
    to {
        translate: -5px;
    }
}