* {
    box-sizing: border-box;
}
.header {
    text-align: center;
    padding: 50px 0px;
}

.footer {
    text-align: center;
    padding: 50px 0px;
}

/* ====================== */

.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "anatomy sidebar";
    padding: 0px 200px;
}

.sidebar {
    background: yellow;
}

.nav-items {
    background: orange;
    height: 100%;
}

ul {
    margin: 0;
}

.hidden {
    display: none;
}